body{
  background-color: #7024c9;
}

#game-heading{
text-align: center; /* This moves our menu to the centre of the page */
font-family: 'Luckiest Guy', cursive;
font-size: 2.5em; /* The font has been sized using em which is a better way of sizing for viewing on mobile devices */
};

#result-container{

}
#result-container h2{
  font-size: 2em;
  color: #ffffff;
}

#game-container{
}

.character-grid {
  display: grid; /* This displays the class in a grid */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Splitting the grid into 5 columns of 1 fraction */
  grid-gap: 5px; /* This acts as a margin between the cards */
  margin: 30px; /* this covers all margins*/
  text-align: center;
  background-color: #ffffff; /* This moves our menu to the centre of the page */
  border-radius: 1em;
  border: 0.2em solid #F0BE37;
  padding: 1em;
}

.question-container{
  text-align: center; /* This moves our menu to the centre of the page */
  font-size: 1.6em; /* The font has been sized using em which is a better way of sizing for viewing on mobile devices */
  font-family: 'Lato', sans-serif,;
}

/* ALERT BOX */ 
#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px;
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }
